@model List<Book>

<div class="jumbotron bg-info text-white text-center">
    <h1>Welcome @ViewBag.User.Name!</h1>
    <p class="lead text-muted">This is your Admin Homepage</p>
</div>

<a href="/books/all" class="btn btn-outline-info my-2">View all Books</a>
<a href="/newbook" class="btn btn-outline-info my-2">Add Book to Club</a>

<table class="table border border-secondary">
    <thead class="bg-secondary text-white">
        <tr>
            <th>Title</th>
            <th>Author</th>
            @* <th>Description</th> *@
            <th>Book Adder</th>
            <th># of Members Added</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach(Book b in Model)
        {
            <tr>
                <td><a href="/book/@b.BookId">@b.Title</a></td>
                <td>@b.Author</td>
                @* <td>@b.Description</td> *@
                <td>@b.Adder.Name</td>
                <td>@b.Members.Count</td>
                <td>
                    <a class="btn btn-warning btn-sm" href="/book/@b.BookId/delete">Delete</a>
                </td>
            </tr>
        }    
    </tbody>
</table>